# Block
# Public Constructors
public net.minecraft.block.BlockFire.<init>()V				# BlockFire
public net.minecraft.block.BlockRedstoneRepeater.<init>()V	# BlockRedstoneRepeater
public net.minecraft.block.BlockTorch.<init>()V				# BlockTorch

# ExtendedBlockStorage
# Public Fields
public net.minecraft.world.chunk.storage.ExtendedBlockStorage.field_76679_g	# blocklightArray
public net.minecraft.world.chunk.storage.ExtendedBlockStorage.field_76680_d	# blockLSBArray
