# Some Block Constructors
public net.minecraft.block.BlockFire <init>()V # BlockFire
public net.minecraft.block.BlockRedstoneRepeater <init>()V # BlockRedstoneRepeater
public net.minecraft.block.BlockTorch <init>()V	# BlockTorch


# Block
public net.minecraft.block.Block field_149784_t #lightValue


# ExtendedBlockStorage
public net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76679_g # blocklightArray
public net.minecraft.world.chunk.storage.ExtendedBlockStorage field_76680_d # blockLSBArray

#EntityRenderer
public net.minecraft.client.renderer.EntityRenderer field_78531_r # mc 
public net.minecraft.client.renderer.EntityRenderer field_78514_e # torchFlickerX
public net.minecraft.client.renderer.EntityRenderer field_82831_U # bossColorModifier
public net.minecraft.client.renderer.EntityRenderer field_82832_V # bossColorModifierPrev
public net.minecraft.client.renderer.EntityRenderer field_78504_Q # lightmapColors
public net.minecraft.client.renderer.EntityRenderer field_78513_d # lightmapTexture
public net.minecraft.client.renderer.EntityRenderer field_78536_aa # lightmapUpdateNeeded
public net.minecraft.client.renderer.EntityRenderer func_82830_a(Lnet/minecraft/entity/player/EntityPlayer;F)F # getNightVisionBrightness()

#Tessellator

public net.minecraft.client.renderer.Tessellator field_78394_d # byteBuffer
public net.minecraft.client.renderer.Tessellator field_78409_u # drawMode
public net.minecraft.client.renderer.Tessellator field_147566_d # floatBuffer
public net.minecraft.client.renderer.Tessellator field_78399_n # hasColor
public net.minecraft.client.renderer.Tessellator field_78413_q # hasNormals
public net.minecraft.client.renderer.Tessellator field_78414_p # hasBrightness
public net.minecraft.client.renderer.Tessellator field_78400_o # hasTexture
public net.minecraft.client.renderer.Tessellator field_147568_c # intBuffer
public net.minecraft.client.renderer.Tessellator field_78415_z # isDrawing
public net.minecraft.client.renderer.Tessellator field_78405_h # rawBuffer
public net.minecraft.client.renderer.Tessellator field_147569_p # rawBufferIndex
public net.minecraft.client.renderer.Tessellator field_147567_e # shortBuffer
public net.minecraft.client.renderer.Tessellator field_78406_i # vertexCount
public net.minecraft.client.renderer.Tessellator field_78401_l # brightness

public net.minecraft.client.renderer.Tessellator func_78379_d ()V # reset()